.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
}

.nav-links a {
    text-decoration: none;
    color: #334155;
    font-weight: 500;
}

.about {
    margin-top: 20px;
    padding: 20px;
    max-width: 800px;
}

.about h2 {
    margin-bottom: 20px;
}

